<div class="container" style="background-color: rgb(140, 124, 155); height: 400px; width: 40%; padding: 10px;">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6">
        <h2 class="mb-4">Iniciar sesión</h2>
        <form>
          <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="username" placeholder="Ingresa tu nombre de usuario">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña">
          </div>
          <button class="onButtonClick()" class="btn btn-primary">Iniciar sesión</button>
        </form>
      </div>
    </div>
  </div>
  