<footer class="footer" style="background-color: antiquewhite; margin-top: 4%; margin-bottom: 0%;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Enlaces</h5>
          <ul class="list-unstyled">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li><i class="fas fa-map-marker-alt"></i> Dirección, Ciudad, País</li>
            <li><i class="fas fa-envelope"></i> info@sitio.com</li>
            <li><i class="fas fa-phone"></i> +1234567890</li>
          </ul>
        </div>
       
  